@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../font/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../font/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.helvetica-light {
    font-family: 'Helvetica-Light';
    font-weight: 300;
    font-style: normal;
}

.helvetica {
    font-family: 'Helvetica';
    font-weight: normal;
    font-style: normal;
}

.helvetica-bold {
    font-family: 'Helvetica-Bold';
    font-weight: bold;
    font-style: normal;
}