/* base css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
    font-style: normal;
}

.bg-primary,
.btn-primary,
.btn-outline-primary:hover,
.list-group-item.active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #087d74 !important;
}

.btn-outline-primary {
    color: #087d74;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.show>.btn-outline-primary.dropdown-toggle,
.list-group-item.active {
    border-color: #087d74;
}

.show>.btn-outline-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(8, 125, 116, .5);
}

.text-primary {
    color: #2a5f87 !important;
}


/* custom tabs */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #2a5f87;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #2a5f87;
}

.nav-tabs .nav-link:hover {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}


/* custom nav color */

.menu .nav-link {
    color: rgba(255, 255, 255, 1);
}

.menu .nav-link.active {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-right: 0;
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.map-responsive {
    overflow: hidden;
    position: relative;
}

.custom-nav-color-green {
    color: rgb(15, 125, 115) !important;
}

.custom-nav-color-black,
.custom-nav-color-black:hover {
    color: rgb(65, 65, 65) !important;
}

.custom-nav-color-green:active {
    background-color: rgb(15, 125, 115) !important;
    color: rgb(255, 255, 255) !important;
}

.swal-button,
.swal-button--cancel:not([disabled]):hover,
.swal-button:not([disabled]):hover {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #087d74;
    font-size: 14px!important;
    color: #fff;
}


/* .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
} */


/* scroller style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    /* outline: 1px solid slategrey; */
    border-radius: 1rem;
}

html,
.modal-body {
    scroll-behavior: smooth;
}


/* heart csutom css */

.heart {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heart input {
    opacity: 0;
    cursor: pointer;
}


/* Create the checkmark/indicator (hidden when not checked) */

.heart svg>path:last-child {
    display: none;
}


/* When the checkbox is checked, add a blue background */

.heart>input:checked~svg>path:last-child {
    display: block;
}

.inner-modal-body {
    height: calc(100vh - 150px);
}


/* --------------------------------------------------------------------------------------------------------------------- */


/* homepage css */

.banner {
    background: url("../img/home.jpg") no-repeat center center/cover;
    height: 570px;
}


/* message page css */

.chat-container {
    height: calc(100vh - 190px);
}

.messages-box {
    height: calc(100% - 54px);
}

.chat-box {
    height: calc(100% - 109px);
}

.pointer {
    position: relative;
}

.point::after {
    position: absolute;
    content: '';
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background-color: inherit;
    top: 50%;
    border: 0;
    transform: translate(50%, -50%);
}

.point.text-info::after {
    content: 'H';
    font-family: serif;
    padding: 0;
}


/* lightbox css */

.lg-backdrop {
    z-index: 1050 !important;
}

.lg-outer .lg-object.lg-image {
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 150px);
}