    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeue-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'), url('../fonts/HelveticaNeue-Thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'HelveticaNeue';
        src: url('../fonts/HelveticaNeueRegular.woff2') format('woff2'), url('../fonts/HelveticaNeueRegular.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    
    body {
        background-color: #f9f9f9;
        font-family: 'Helvetica Neue';
        font-weight: normal;
        font-size: 16px;
    }
    
    .header {
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .footer-top {
        background-color: #1c446b;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
    .footer-bottom {
        background-color: #fff;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .footer-media-link ul li {
        display: inline-block;
        padding-left: 10px;
    }
    
    .footer-media-link ul li {
        display: inline-block;
    }
    
    .footer-media-link ul li a {
        display: block;
    }
    
    .footer-link ul li {
        list-style: none;
        padding-bottom: 10px;
    }
    
    .footer-link ul li a {
        color: #fff;
        font-weight: 300;
    }
    
    .custom-nav a.nav-link {
        color: #000;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    .btn-sign-in {
        background-color: #1c446b;
        width: 120px;
        height: 46px;
        color: #fff;
    }
    
    .icon-text {
        font-size: 24px;
    }
    
    .screen-h {
        height: 100vh;
    }
    
    .login-section {
        width: 568px;
        padding: 30px 40px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-top img {
        position: relative;
        top: 30px;
    }
    
    .btn.brn-login {
        background-color: #1c446b;
        color: #fff;
        width: 180px;
        height: 50px;
        font-size: 21px;
        text-transform: uppercase;
    }
    
    .custom-input.form-control {
        border: solid 1px #d5dbe2;
        height: 50px;
        border-radius: 2px;
    }
    
    input.custom-input.custom-input-home.form-control {
        font-size: 18px;
        font-weight: 300;
    }
    
    .custom-input-home::placeholder {
        color: rgba(56, 63, 68, 0.63)
    }
    
    .forget-password {
        font-size: 18px;
    }
    
    input.form-control.custom-input-home.custom-input.is-invalid {
        border-color: red;
    }
    
    .form-group label {
        font-size: 18px;
        color: #31383d;
        display: block;
        font-weight: 300;
    }
    
    .login-section h2,
    .sign-up-form h2 {
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .sign-up-form h2 {
        text-align: left;
    }
    
    .color-light-gray {
        color: #b1becd;
    }
    
    .color-sky {
        color: #35a0cd;
    }
    
    .login-section p {
        font-size: 18px;
    }
    
    .sign-up-form p {
        font-size: 21px;
    }
    
    .sign-up-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .sign-up-form {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    button.btn-sign-up {
        background: #1c446b;
        color: #fff;
        text-transform: uppercase;
        border: none;
        font-weight: 500;
        height: 56px;
        width: 250px;
        font-size: 21px;
        margin-right: 30px;
    }
    
    .signup h3 {
        font-size: 24px;
        color: #fff;
        margin-bottom: 40px;
    }
    
    .signup ul {
        color: #fff;
    }
    
    .signup ul li {
        background: url(../img/check.png) no-repeat;
        list-style: none;
        padding-bottom: 30px;
        padding-left: 43px;
    }
    
    .signup {
        background-repeat: no-repeat;
        padding-top: 60px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    
    .signup-footer {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    .signup-footer li {
        background-image: none !important;
        display: inline-block;
        padding: 0 10px !important;
    }
    /* db */
    
    .change-password {
        width: 400px;
        margin: 0 auto;
    }
    
    button.btn-change-password {
        width: 275px;
        height: 56px;
        background: #1c446b;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 21px;
        color: #fff;
        border-radius: 4px;
    }
    
    .center-navbar {
        background: #1c446b;
        margin-top: 63px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        /* bottom: 0; */
    }
    
    .center-navbar ul {
        margin: 0;
        padding: 0;
    }
    
    .center-navbar ul li {
        display: inline-block;
        list-style: none;
    }
    
    .center-navbar ul li a {
        color: #fff;
        font-size: 16px;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
    }
    
    .center-navbar ul li a:hover {
        background-color: #fff;
        color: #1c446b;
    }
    
    .account-active a {
        background-color: #fff;
        color: #1c446b !important;
    }
    
    footer.footer.footer-white {
        background: #fff;
    }
    
    .sidebar-wrapper p {
        display: inline-block;
        font-size: 15px;
        color: #4A4A4A;
        text-transform: capitalize;
        margin-left: 15px;
    }
    
    .sidebar .logo a.logo-mini {
        width: 178px;
    }
    
    .logo-image-small {
        z-index: 10;
        position: relative;
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .nav-top ul li.nav-item {
        font-weight: 600;
        color: #181A19;
        margin-left: 25px;
    }
    
    .nav-top ul li.nav-item img {
        margin-top: 10p;
        vertical-align: middle;
    }
    
    img.bell {
        position: relative;
        top: 7px;
    }
    
    img.user-img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    
    a.navbar-brand.top-title {
        font-size: 30px;
        font-weight: 600;
    }
    
    .search-outer {
        width: 357px;
        position: relative;
    }
    
    .search-outer input {
        height: 40px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 0 6px -4px #000;
    }
    
    .search-outer img {
        width: auto;
        height: auto;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    
    .content-container {
        margin-top: 142px;
    }
    
    .bg-dark-blue {
        background-color: #1C446B;
    }
    
    .product-item-name h3 {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    .product-item-name p,
    .email-id p,
    .phone-no span {
        margin-bottom: 0;
        font-size: 14px;
    }
    
    .btn-edit,
    .btn-delete {
        border: none;
        background-color: transparent;
    }
    
    .custom-pagination a.page-link {
        margin: 0 4px;
        border-radius: 4px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
        color: #919191;
        height: 38px;
        width: 38px;
        text-align: center;
    }
    
    .custom-pagination .page-item.active a.page-link {
        background-color: #1C446B;
        border-color: #1C446B;
    }
    
    .form-add input.form-control,
    .form-add select.form-control {
        height: 40px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        border: 1px solid #B7B7B7 !important;
        text-transform: capitalize;
        font-weight: 300;
        border-radius: 4px !important;
    }
    
    .form-add label {
        font-size: 16px;
        color: #666666;
    }
    
    .form-add input.form-control::placeholder {
        color: #ABACAD;
    }
    
    .header-custom .modal-title {
        font-size: 24px;
        color: #1B1B1B;
        font-weight: 600;
    }
    
    .modal-header.header-custom {
        border-bottom: none;
        padding-bottom: 0;
    }
    
    button.close {
        width: 28px;
        height: 28px;
        background: #1C446B;
        text-shadow: none;
        border-radius: 100%;
        padding: 0 !important;
        opacity: 10;
        color: #fff;
        margin-top: 0px !important;
        font-size: 24px;
    }
    
    button.close span {
        position: relative;
        top: -2px;
    }
    
    select.time {
        border: 1px solid #b7b7b7;
        background: #F7F7F7;
        width: 60px;
        padding-left: 5px;
        border-radius: 0 4px 4px 0;
        padding-left: 6px;
    }
    
    .to {
        color: #666666;
        font-size: 16px;
    }
    
    .custom-check .custom-control-label::before,
    .custom-check .custom-control-label::after {
        width: 28px;
        height: 28px;
    }
    
    .custom-check.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
        background-image: url(../img/tick.png);
    }
    
    .custom-check .custom-control-input:checked~.custom-control-label::before {
        border-color: #979797;
        background-color: #fff;
    }
    
    .all-checkbox-select {
        padding-left: 28px;
    }
    
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .btn-up {
        font-size: 16px;
        font-weight: 600;
        border: none;
        background-color: #1C446B;
        color: #fff;
        width: 134px;
        height: 40px;
        border-radius: 4px;
    }
    
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    .text-dark-blue {
        color: #212529;
    }
    
    .select-product select.form-control {
        box-shadow: 0 0 6px -4px #000;
        height: 40px;
        border-radius: 4px;
    }
    
    .select-product {
        width: 357px;
    }
    
    .product-table tbody {
        background-color: #fff;
    }
    
    .product-table tbody td {
        color: #666666;
        font-size: 14px;
    }
    
    .product-table tbody td {
        color: #666666;
        font-size: 14px;
    }
    
    .seetting-heading h2 {
        color: #1b1b1b;
        font-size: 24px;
        font-weight: 600;
    }
    
    .custom-label-text {
        color: #666;
        font-size: 16px;
    }
    
    input.custom-text-input,
    select.custom-text-input,
    textarea.custom-text-input {
        height: 40px !important;
        border: solid 1px #b7b7b7 !important;
        border-radius: 4px !important;
        font-size: 16px;
    }
    
    input.custom-text-input::placeholder,
    select.custom-text-input::placeholder {
        color: #1b1b1b;
        font-size: 16px;
    }
    
    input.custom-text-input.light-placeholder::placeholder,
    select.custom-text-input.light-placeholder::placeholder,
    textarea.custom-text-input.light-placeholder::placeholder {
        color: #abacad;
    }
    
    .seetting-heading h2 span {
        font-weight: normal;
        font-style: italic;
        font-size: 16px;
    }
    
    .border-gray {
        border: solid 1px #d8d8d8;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .refer {
        border: 1px solid #eee;
    }
    
    button.add-discount-rate {
        background-color: #35a0cd;
        height: 38px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        font-size: 17px;
        color: #fff;
        border-radius: 4px;
        width: 300px;
    }
    
    button.add-user {
        height: 40px;
        border: none;
        background-color: #1c446b;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
        margin-top: 20px;
        font-weight: 600;
    }
    
    button.add-save {
        width: 156px;
        height: 56px;
        border-radius: 4px;
        background-color: #1c446b;
        font-weight: 600;
        color: #fff;
        font-size: 20px;
        border: none;
    }
    
    .refer h3 {
        font-size: 22px;
        color: #1b1b1b;
        font-weight: 600;
    }
    
    .btn-book-demo,
    .btn-create-account {
        background-color: #1c446b;
        height: 75px;
        width: 290px;
        font-size: 24px;
        color: #fff;
        box-shadow: none;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .home-heading h2 {
        font-size: 45px;
        font-weight: 600;
    }
    
    .home-text-color {
        color: #54565a;
    }
    
    .blog-date {
        position: absolute;
        background: #fff;
        width: 196px;
        height: 48px;
        line-height: 48px;
        color: #3194c1;
        text-align: center;
        bottom: 0;
    }
    
    h3.blog-heading {
        font-size: 20px;
        margin-top: 30px;
        color: #222222;
        font-weight: normal;
    }
    
    .blog-box p {
        color: #222222;
    }
    
    .blog-box a {
        text-transform: uppercase;
        color: #1c446b;
    }
    
    .home-heading span {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: normal;
        border-right: 3px solid #35a0cd;
        border-left: 3px solid #35a0cd;
        height: 48px;
        display: inline-block;
        vertical-align: bottom;
        background-color: #fff;
        line-height: 48px;
        padding: 0 24px;
    }
    
    .gap-bottom {
        margin-bottom: 150px;
    }
    
    .container-home {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        display: block !important;
    }
    
    span.dot-icon {
        display: inline-block;
        background-color: #35a0cd;
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
    
    .transportation-right h2 {
        font-size: 18px;
        font-weight: 600;
    }
    
    .home-heading p {
        color: #4a90e2;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .company-logo ul {
        margin: 0;
        padding: 0;
    }
    
    .company-logo ul li {
        width: 49%;
        display: inline-block;
    }
    
    .testimonials {
        background: url(../img/bg-blue.png) no-repeat 0 0;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 150px;
    }
    
    .qoute-text {
        font-size: 28px;
        font-weight: 200;
        line-height: 48px;
        color: #fff;
        /* font-style: italic; */
    }
    
    .home-page-slider .carousel-inner {
        width: 75%;
        margin: 0 auto;
    }
    
    .customer-name h2 {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
    }
    
    .customer-name span {
        color: #fff;
        font-weight: 300;
    }
    
    .home-page-slider ol.carousel-indicators {
        justify-content: flex-end;
        bottom: -60px;
        right: 42px;
    }
    
    .home-page-slider .carousel-indicators li {
        width: 70px;
        height: 8px;
        border-radius: 9px;
    }
    
    .text-center-heading p {
        font-size: 32px;
        font-weight: 400;
    }
    
    .hero-img {
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        height: calc(100vh - 100px);
    }
    
    .hero-heading h2 {
        color: #fff;
        font-size: 72px;
        line-height: 80px;
        font-weight: 600;
    }
    
    .hero-heading p {
        font-size: 21px;
        color: #fff;
        margin: 20px 0;
    }
    
    button.btn-play {
        border: none;
        background-color: transparent;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
    }
    
    button.btn-demo {
        background-color: #35A0CD;
        height: 60px;
        width: 230px;
        border: none;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 600;
    }
    
    .tab-img {
        background: url('../img/tab-img.png') no-repeat 0 0;
    }
    
    .tab-img-bottom h2 {
        font-size: 18px;
        text-align: center;
        color: #fff;
        font-weight: 600;
    }
    
    .tab-img-bottom p {
        font-size: 13px;
        color: #fff;
        margin-bottom: 0;
        text-align: center;
    }
    
    .signup.tab-img {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
    .custom-tab .nav-link {
        height: 100px;
        background-color: #1C446B;
        width: 300px;
        border-radius: 0;
        font-size: 24px;
        text-align: center;
        color: #fff;
        line-height: 100px;
        padding: 0;
        border: none;
    }
    
    .custom-tab .active.nav-link {
        color: #1c446b;
    }
    
    .custom-tab {
        border-bottom: none;
    }
    
    .shadow-tab {
        box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, .075)!important;
    }
    
    .book-demo-form {
        margin-top: -100px;
    }
    
    span.req {
        color: #9A9FA8;
        font-size: 12px;
        font-weight: 300;
        vertical-align: bottom;
    }
    
    h2.slip-heading {
        font-size: 24px;
        color: #286AA6;
        font-weight: 600;
    }
    
    button.btn-submit {
        background-color: #1C446B;
        color: #fff;
        width: 230px;
        text-transform: uppercase;
        height: 55px;
        border: none;
        border-radius: 4px;
        font-size: 24px;
        font-weight: 500;
        /* padding-bottom: 30px; */
        margin-bottom: 30px;
    }
    
    .login-section .invalid-feedback strong {
        font-weight: 400;
        font-size: 12px;
    }
    
    .login-top {
        margin-top: -30px;
        position: relative;
        right: -15px;
    }
    
    button.btn-password-reset {
        background: #1c446b;
        border: none;
        color: #fff;
        height: 50px;
        width: 300px;
        font-size: 18px;
        border-radius: 4px;
    }
    
    .logout-footer {
        position: absolute;
        bottom: 46px;
        width: 100%;
        border-top: 2px solid #ECECEC;
        height: 73px;
        line-height: 73px;
        padding-left: 23px;
    }
    
    .iti.iti--allow-dropdown {
        width: 100%;
    }
    
    .center-navbar ul li.active a {
        background: white;
        color: #1c446b;
    }
    
    .user-password-center {
        width: 450px;
        margin: 0 auto;
        margin-top: 60px;
    }
    /* shipment */
    
    .search-container {
        margin-top: 116px;
    }
    
    button.btn.btn-search {
        background: #1c446b;
        width: 148px;
        font-size: 18px;
        height: 40px;
        padding: 0 10px;
        text-transform: capitalize;
    }
    
    button.btn-reset {
        border: none;
        background-color: transparent;
        color: #FF0000;
        margin-left: 20px;
    }
    
    .search-outer.search-location {
        width: 100%;
    }
    
    .search-location input.form-control {
        box-shadow: none;
    }
    
    .calender-outer img.user-img {
        position: absolute;
        right: 5px;
        width: 24px;
        height: 24px;
        top: 7px;
    }
    
    .calender-outer {
        position: relative;
    }
    
    .location-list {
        background: url(../img/dot.png) no-repeat 0 7px;
        margin: 0;
        padding: 0;
    }
    
    .location-list li {
        list-style: none;
        padding-bottom: 0;
        padding-left: 19px;
        font-weight: 600;
        color: #4E4E4E;
    }
    
    .db-custom-table .table thead th {
        font-size: 14px;
        font-weight: normal;
        color: #000;
        text-transform: capitalize;
    }
    
    .table.table-qoute-list tbody td {
        font-size: 14px;
        color: #7B7B7B;
        border-top: none;
        border-bottom: 2px solid #f4f3ef;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .link-text-color {
        color: #0491FF;
    }
    
    .text-green {
        color: #437607 !important;
    }
    
    .form-add .form-group {
        position: relative;
    }
    
    .form-add span.error strong {
        font-size: 12px;
        font-weight: 400;
        color: red;
    }
    /* sidebar navigation */
    
    .sidebar-wrapper .nav li a {
        background-repeat: no-repeat;
        padding-left: 45px;
        background-position: 15px center;
        opacity: 10 !important;
    }
    
    .sidebar-wrapper .nav li.active a {
        background-color: #1C446B;
        color: #fff !important;
    }
    
    .sidebar-wrapper .nav li.active a p {
        color: #fff;
        font-weight: 600;
    }
    
    .sidebar-wrapper .nav li:nth-child(1) a {
        background-image: url('../img/dashboard.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(1) a {
        background-image: url('../img/dashboard-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(2) a {
        background-image: url('../img/my-account.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(2) a {
        background-image: url('../img/my-account-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(3) a {
        background-image: url('../img/qoute.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(3) a {
        background-image: url('../img/qoute-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(4) a {
        background-image: url('../img/shipment.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(4) a {
        background-image: url('../img/shipment-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(5) a {
        background-image: url('../img/invoice.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(5) a {
        background-image: url('../img/invoice-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(6) a {
        background-image: url('../img/my-product.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(6) a {
        background-image: url('../img/my-product-hvr.png');
    }
    
    .sidebar-wrapper .nav li:nth-child(7) a {
        background-image: url('../img/help.png');
    }
    
    .sidebar-wrapper .nav li.active:nth-child(7) a {
        background-image: url('../img/help-hvr.png');
    }
    /* My Quote */
    
    .cost span {
        color: #8A8A8A;
        font-size: 14px;
    }
    
    .cost h2 {
        font-size: 21px;
        margin-bottom: 0;
        color: #212529;
        font-weight: 600;
    }
    
    .cost a {
        color: #327AB7;
        text-decoration: underline;
        font-size: 14px;
    }
    
    .text-color-red {
        color: #D0021B !important;
    }
    
    .border-bottom {
        border-bottom: 1px solid #D8D8D8;
    }
    
    .quote-number span {
        font-size: 14px;
        color: #212529;
    }
    
    .quote-number h2 {
        font-size: 24px;
        color: #212529;
        font-weight: 600;
    }
    
    .table-dimensions tbody td {
        border: none;
        color: #8A8A8A;
        font-size: 14px;
    }
    
    .table-dimensions tbody td strong {
        color: #212529;
    }
    
    .table-dimensions-data thead th,
    .table-dimensions-data tbody td {
        font-size: 14px !important;
        color: #8A8A8A;
        font-weight: 400 !important;
        border: none !important;
    }
    
    .table-dimensions-data thead th {
        border-bottom: 1px solid #D8D8D8 !important;
    }
    
    .table-dimensions-data tbody td strong {
        color: #4A4A4A;
    }
    
    .select-product.qoute-list {
        width: 250px;
    }
    
    .btn-heart,
    .btn-quote-edit {
        border: none;
        background-color: transparent;
        padding: 0;
    }
    
    .btn-quote-edit {
        color: #1C446B;
        font-weight: 600;
        font-size: 14px;
    }
    
    .btn-heart img {
        width: 20px;
        height: 18px;
    }
    
    .btn-view-quote {
        width: 125px;
        height: 30px;
        border: none;
        border-radius: 100em;
        background-color: #1c446b;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .table.table-qoute-list thead th {
        border-bottom: none;
        color: #7B7B7B;
    }
    
    .table.table-qoute-list tbody td {
        font-size: 14px;
        color: #7B7B7B;
    }
    
    .db-sub-heading h2 {
        font-size: 24px;
        font-weight: 600;
    }
    
    .package-nav {
        margin: 0;
        padding: 0;
    }
    
    .package-nav li {
        display: inline-block;
        list-style: none;
    }
    
    .package-nav li a {
        padding: 12px 80px;
        display: block;
        color: #1C446B;
        font-weight: 600;
        text-decoration: none;
    }
    
    .package-nav li a:hover {
        background-color: #1C446B;
        color: #fff;
    }
    
    .package-nav li.active-nav a {
        background-image: url(../img/active-check.png);
        background-repeat: no-repeat;
        background-position: 48px center;
        background-color: #1C446B;
        color: #fff;
    }
    
    .bottom-package-form {
        border-top: 1px solid #E9E9E9;
    }
    
    /* .ship-details input.form-control {
        background: #F4F4F4;
        height: 48px;
        border: none;
        font-size: 16px;
    } */
    
    .ship-details h2 {
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        margin: 0;
    }
    
    /* .ship-details input.form-control::placeholder {
        color: #252525;
    } */
    
    .custom-radio-button .custom-control-label::before,
    .custom-radio-button .custom-control-label::after {
        width: 24px;
        height: 24px;
    }
    
    .input-group.custom-input-group>*:first-child {
        border-radius: 4px 0 0 4px;
    }
    
    .input-group.custom-input-group>*:last-child {
        border-radius: 0 4px 4px 0;
    }
    
    .input-group.custom-input-group input {
        width: 50px;
        height: 37px;
        text-align: center;
        /* border: none; */
        border: 1px solid #B6B6B6;
    }
    
    .input-group.custom-input-group select {
        width: 50px;
        height: 37px;
        border-left: none;
        background-color: #F7F7F7;
        color: #343a40;
        border-color: #b6b6b6;
    }
    
    .weight.input-group.custom-input-group input {
        width: 120px;
    }
    
    .btn-quote {
        background: #1C446B;
        width: 175px;
        height: 40px;
        border: #fff;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        margin-top: 20px;
    }
    
    button.btn-quote-reset {
        color: #1C446B;
        font-weight: 600;
        border: none;
    }
    
    .input-group.custom-input-group.large-input-group input {
        width: 300px;
    }
    
    select.input-group.custom-input-group.quantity {
        height: 37px;
        text-align: center !important;
        border: 1px solid #B6B6B6;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    
    button.btn-duplicate {
        color: #1C446B;
        font-weight: 600;
        border: none;
        background-color: transparent;
    }
    
    button.btn-heart-like {
        background-color: transparent;
        border: none;
    }
    
    .package-table tr {
        border-bottom: 1px solid #EBEBEB;
        border-left: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
    }
    
    .package-table thead tr {
        border-right: none;
        border-left: none;
    }
    
    .package-table tr th,
    .package-table tr td {
        color: #666;
        font-size: 14px;
    }
    
    .package-table tr th {
        font-weight: 400 !important;
    }
    
    .input-group.custom-input-group.currency-input-group input,
    select.input-group.custom-input-group.quantity {
        width: 200px;
    }
    
    .input-group.custom-input-group.currency-input-group select {
        width: 70px;
    }
    
    .letter-height {
        min-height: 400px;
    }
    
    .heading-class h2 {
        color: #666666;
        font-size: 18px;
        margin-bottom: 14px;
    }
    
    .add_btn {
        background-color: #1c446b;
        height: 38px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .add_btn:hover,
    .add_btn:focus {
        background-color: #1c446b !important;
    }
    
    .remove-btn {
        background-color: #da0000;
        height: 38px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .remove-btn:hover,
    .remove-btn:focus {
        background-color: #da0000 !important;
    }
    
    .order-name {
        font-size: 15px;
    }
    
    @media screen and (max-width: 1279px) {
        .container-home {
            padding-left: 60px;
            padding-right: 60px;
        }
        .book-demo-form {
            margin-top: 25px;
        }
        .hero-img {
            height: 100%;
        }
        .gap-bottom {
            margin-bottom: 100px;
        }
        .testimonials {
            padding-top: 76px;
            padding-bottom: 80px;
        }
        .btn-sign-in {
            margin: 9px 0 10px 0 !important;
        }
        .custom-nav .navbar-collapse {
            text-align: center;
        }
        .custom-nav button.navbar-toggler {
            background-color: #1c446b;
            border-radius: 0;
        }
        .signup ul {
            padding: 0;
        }
    }
    
    @media screen and (max-width: 991px) {
        .home-heading h2 {
            font-size: 30px;
        }
        .home-heading span {
            font-size: 18px;
            height: 30px;
            line-height: 30px;
        }
        .discount-video img.img-fluid {
            width: 100%;
        }
        .home-heading h2 br {
            display: none;
        }
        .user-img {
            text-align: center;
        }
        .user-img img.img-fluid {
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }
        .home-page-slider ol.carousel-indicators {
            justify-content: center;
            right: 0;
        }
        .qoute-text {
            text-align: center;
        }
        .customer-name {
            text-align: center;
            margin-bottom: 25px;
        }
        .custom-nav a.nav-link {
            text-align: center;
        }
        .sign-up-container {
            padding: 0 20px;
        }
        .sign-up-form {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    @media screen and (max-width: 767px) {
        .company-logo ul li {
            width: 100%;
            margin-bottom: 20px;
        }
        .custom-tab .nav-link {
            height: 60px;
            width: 150px;
            font-size: 16px;
            line-height: 60px;
            border: none;
        }
        .hero-heading h2 {
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }
        .hero-heading h2 br,
        .hero-heading p br {
            display: none;
        }
        .hero-heading p,
        .hero-heading {
            font-size: 18px;
            text-align: center;
        }
        button.btn-play {
            margin: 0 auto;
        }
        .gap-bottom {
            margin-bottom: 50px;
        }
        .container-home a.navbar-brand img {
            width: 100px;
        }
        .login-section {
            width: 100%;
            padding: 40px;
            margin-top: 0;
            margin-bottom: 40px;
        }
        button.btn-sign-up {
            width: 100%;
            margin-right: 0;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .already-account {
            width: 100%;
        }
        .login-section h2,
        .sign-up-form h2 {
            font-size: 30px;
        }
        .btn.brn-login {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 575px) {
        .container-home {
            padding-left: 20px;
            padding-right: 20px;
        }
        .qoute-text {
            font-size: 22px;
            line-height: 34px;
        }
        .hero-heading h2 {
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            font-weight: 500;
        }
        .shadow-tab {
            box-shadow: none;
        }
        .login-section {
            padding: 40px 20px;
        }
        .user-password-center {
            width: 100%;
        }
    }
    
    .sign-up-form label.error {
        position: absolute;
        font-size: 12px !important;
        font-weight: 400 !important;
        color: red;
    }
    
    .sign-up-form .iti.iti--allow-dropdown {
        width: 100%;
    }

    .summary-order {
        min-height: 400px;
    }

    .card-header-quotes {
        background: #1c446b;
        border-radius: 4px 4px 0 0;
    }