/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: solid 1px #b7b7b7;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #dc3545;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.error {
	font-size: 80%;
    font-weight: bold;
    color: #dc3545;
}